%p Hello #{@user.email},
%p Someone has requested a link to change your password on the faims site. However your account is not active so you cannot reset your password.
%p Please contact the faims team for further information.
