- title 'User Management'

- if can?(:read, User)
  = link_to "List Approved Users", users_path, :class => "button"
- if can?(:access_requests, User)
  = link_to "View Access Requests", access_requests_users_path, :class => "button"
