.arch_ent_record_content
  %table
    %tr
      %td
        %h5=key
      %td
        = ': '
      %td
        - if value[key][0][5]
          %span= value[key][0][5]
        - else
          %span.muted= 'NULL'
    - for attribute in group[key]
      %input{:type => 'hidden', :name => 'attribute_id[]', :value => attribute[1]}
      - if !attribute[4].blank?
        %input{:value => attribute[2], :name => 'vocab_id[]', :type => 'hidden'}
      - else
        %input{:value => nil, :name => 'vocab_id[]', :type => 'hidden'}
      %input{:value => attribute[5], :name => 'measure[]', :type => 'hidden'}
      %input{:value => attribute[6], :name => 'freetext[]', :type => 'hidden'}
      %input{:value => attribute[7], :name => 'certainty[]', :type => 'hidden'}