- if !@grouped_vocabs[key].nil?
  %div{class: 'vocab-row', style: "margin-left: #{indent * 25}px"}
    - @grouped_vocabs[key].each_with_index do |v, index|
      - if index == 0 && indent == 0
        %label.span3
          ='Name'
        %label.span3
          ='Description'
        %label.span3
          ='Picture URL'
      - class_name = indent ? 'vocab-row well':'vocab-row row-fluid well'
      %div{class: class_name}
        %input.span3{:type => 'hidden', :name => 'temp_id[]', :value => v[:temp_id]}
        %input.span3{:type => 'hidden', :name => 'temp_parent_id[]', :value => v[:temp_parent_id]}
        %input.span3{:type => 'hidden', :name => 'vocab_id[]', :value => v[:vocab_id]}
        %input.span3{:type => 'hidden', :name => 'parent_vocab_id[]', :value => v[:parent_vocab_id]}
        %input.span3{:type => 'text', :name => 'vocab_name[]', :value => v[:vocab_name]}
        %input.span3{:type => 'text', :name => 'vocab_description[]', :value => v[:vocab_description]}
        %input.span3{:type => 'text', :name => 'picture_url[]', :value => v[:picture_url]}
        - if @grouped_vocabs[v[:vocab_id].blank? ? v[:temp_id] : v[:vocab_id] ].nil?
          = link_to "Add Child",'#', :class => "btn add-child"
        = render :partial => 'create_vocabularies_table', :locals => {key: v[:vocab_id].blank? ? v[:temp_id] : v[:vocab_id], indent: 1}
    = link_to "Insert",'#', :class => "btn btn-block insert-new-vocab"
