- title @project_module.name + " - Relationship Records"
= breadcrumbs
.content
  %h2 Filter based on Relationship type
  %form{:action => list_typed_rel_records_path, :method => "get"}
    .input-append
      %input{:type => 'hidden', :value => session[:authenticity_token], :name => 'authenticity_token'}
      %input{:type => 'hidden', :value => 0, :name => 'offset'}
      %select{:name => 'type'}
        %option{ :value => "all"}="Show All Records"
        - for type in @type
          %option{:value=>type[1]}=type[0]
      %input{:type => 'submit', :value => "Filter", :class => 'btn'}
.form-actions
  = link_to "<i class='icon-arrow-left'></i> Back".html_safe, project_module_path(@project_module), :class => 'btn'
