- for relationshipids in @relationshipid
  %ul.inner
    %input{:type => 'hidden', :id=> 'timestamp', :value => relationshipids[3] }
    - if values and values.include?(relationshipids[0].to_s)
      %input{:type => 'checkbox', :value=> relationshipids[0],:checked => 'checked'}
        %li
          %a{:href => edit_rel_records_path(@project_module,relationshipids[0])}
            =relationshipids[1].to_s
            - if @rel_dirty_map[relationshipids[0]]
              .label.label-important='review'
            - if @rel_forked_map[relationshipids[0]]
              .label.label-warning='conflict'
      - if !relationshipids[2].nil?
        = link_to "<i class='icon-edit icon-white'></i> Restore".html_safe, restore_rel_records_path(@project_module,relationshipids[0]), :class => 'btn btn-warning btn-mini', :id => 'restore-record'
      %input{:type => 'hidden',:id => 'identifier', :value=> relationshipids[1].to_s}
    - else
      %input{:type => 'checkbox', :value=> relationshipids[0]}
        %li
          %a{:href => edit_rel_records_path(@project_module,relationshipids[0])}
            =relationshipids[1].to_s
            - if @rel_dirty_map[relationshipids[0]]
              .label.label-important='review'
            - if @rel_forked_map[relationshipids[0]]
              .label.label-warning='conflict'
      - if !relationshipids[2].nil?
        = link_to "<i class='icon-edit icon-white'></i> Restore".html_safe, restore_rel_records_path(@project_module,relationshipids[0]), :class => 'btn btn-warning btn-mini', :id => 'restore-record'
      %input{:type => 'hidden',:id => 'identifier', :value=> relationshipids[1].to_s}
.paging
  = render :partial => 'shared/pagination'
