- title "FAIMS Server".html_safe
.container
  - if !user_signed_in?
    = simple_form_for("user", :url => user_session_path) do |f|
      = render(:partial => 'devise/sessions/form', :locals => { :f => f })
  - else
    .well
      %h3 Server Actions
      .btn-group
        = link_to "Show Projects", projects_path, :class => "btn"
      .btn-group
        = link_to "Show Users", users_path, :class => "btn"

