.arch_ent_record_content
  %table
    %tr
      %td
        %h5=key
      %td
        = ': '
      %td
        = value[key][0][4]
    - for attribute in group[key]
      %input{:type => 'hidden', :name => 'attribute_id[]', :value => attribute[2]}
      - if !attribute[6].blank?
        %input{:value => attribute[1], :name => 'vocab_id[]', :type => 'hidden'}
      - else
        %input{:value => nil, :name => 'vocab_id[]', :type => 'hidden'}
      %input{:value => attribute[4], :name => 'freetext[]', :type => 'hidden'}
      %input{:value => attribute[5], :name => 'certainty[]', :type => 'hidden'}