- for relationshipid_group in relationshipid_array
  %ul.inner
    %input{:type => 'hidden', :id=> 'timestamp', :value => relationshipid_group[0][6] }
    - if values and values.include?(relationshipid_group[0][0].to_s)
      %input{:type => 'checkbox', :value=> relationshipid_group[0][0],:checked => 'checked'}
        - identifier = []
        - for relationshipids in relationshipid_group
          - identifier.push(relationshipids[3].to_s)
          %li
            %a{:href => edit_rel_records_path(@project,relationshipids[0])}
              =relationshipids[2].to_s + ": " + relationshipids[3].to_s
              - if @rel_dirty_map[relationshipids[0]]
                .label.label-important='review'
              - if @rel_forked_map[relationshipids[0]]
                .label.label-warning='conflict'
      - if !relationshipid_group[0][7].nil?
        = link_to "<i class='icon-edit icon-white'></i> Restore".html_safe, undelete_rel_records_path(@project,relationshipids[0]), :class => 'btn btn-warning btn-mini', :id => 'undelete-record'
      %input{:type => 'hidden',:id => 'identifier', :value=> identifier * ", "}
    - else
      %input{:type => 'checkbox', :value=> relationshipid_group[0][0]}
        - identifier = []
        - for relationshipids in relationshipid_group
          - identifier.push(relationshipids[3].to_s)
          %li
            %a{:href => edit_rel_records_path(@project,relationshipids[0])}
              =relationshipids[2].to_s + ": " + relationshipids[3].to_s
              - if @rel_dirty_map[relationshipids[0]]
                .label.label-important='review'
              - if @rel_forked_map[relationshipids[0]]
                .label.label-warning='conflict'
      - if !relationshipid_group[0][7].nil?
        = link_to "<i class='icon-edit icon-white'></i> Restore".html_safe, undelete_rel_records_path(@project,relationshipids[0]), :class => 'btn btn-warning btn-mini', :id => 'undelete-record'
        %input{:type => 'hidden',:id => 'identifier', :value=> identifier * ", "}