%h1= @project.name
= link_to "Back", project_path(@project), :class => 'btn'
%h3="Project Files"
%input{:type => 'hidden', :id => 'file_root', :value => 'projects/' + @project_key.to_s + '/files'}
#fileTree.browse_file
