%h1= @project.name + " - Relationship Records"
.content
  - if (!@relationshipid.empty?)
    - prev_relationshipid = @relationshipid[0][0]
    - relationshipid_array = []
    - array = []
    - for relationshipid in @relationshipid
      - if prev_relationshipid != relationshipid[0]
        - relationshipid_array << array
        - array = []
        - prev_relationshipid = relationshipid[0]
      - array << relationshipid
    - relationshipid_array << array
    %input{:type => 'hidden', :value => add_entity_to_compare_path(@project), :id => 'add_entity'}
    %input{:type => 'hidden', :value => remove_entity_to_compare_path(@project), :id => 'remove_entity'}
    %form{:method => 'post', :id => 'compare', :action => compare_rel_path(@project)}
      %input{:type => 'hidden', :value => session[:authenticity_token], :name => 'authenticity_token'}
      - if session[:values]
        - for value in session[:values]
          %input{:type => 'hidden', :value => value, :name => 'ids[]', :id => value}
      = link_to "Back", list_rel_records_path(@project), :class => 'btn'
      %input{:type => 'submit', :value => "Compare"}
      %p
      - for relationshipid_group in relationshipid_array
        %ul.inner
          - if session[:values] and session[:values].include?(relationshipid_group[0][0].to_s)
            %input{:type => 'checkbox', :value=> relationshipid_group[0][0],:checked => 'checked'}
              - for relationshipids in relationshipid_group
                %li
                  %a{:href => edit_rel_records_path(@project,relationshipids[0])}
                    =relationshipids[2].to_s + ": " + relationshipids[3].to_s
          - else
            %input{:type => 'checkbox', :value=> relationshipid_group[0][0]}
              - for relationshipids in relationshipid_group
                %li
                  %a{:href => edit_rel_records_path(@project,relationshipids[0])}
                    =relationshipids[2].to_s + ": " + relationshipids[3].to_s
  -else
    %p No Record Found
    = link_to "Back", list_rel_records_path(@project), :class => 'btn'
-if !@relationshipid.empty?
  .footer
    - if (session[:prev_offset] >= 0)
      %form{:action => list_typed_rel_records_path, :method => "get"}
        %input{:type => 'hidden', :value => session[:authenticity_token], :name => 'authenticity_token'}
        %input{:type => 'hidden', :value => session[:prev_offset], :name => 'offset'}
        %input{:type => 'hidden', :value => session[:type], :name => 'type'}
        %input{:type => 'submit', :value => "Previous"}
    %form{:action => list_typed_rel_records_path, :method => "get"}
      %input{:type => 'hidden', :value => session[:authenticity_token], :name => 'authenticity_token'}
      %input{:type => 'hidden', :value => session[:next_offset], :name => 'offset'}
      %input{:type => 'hidden', :value => session[:type], :name => 'type'}
      %input{:type => 'submit', :value => "Next"}
