- title @project.name + " - Search"
.content
  %h2 Search Archaeological Entity
  %p
  .search-arch-member
    %ul.tabs
      %li.search
        %form{:action => search_arch_ent_member_path, :method => "get"}
          %input{:type => 'hidden', :value => session[:authenticity_token], :name => 'authenticity_token'}
          %input{:type => 'hidden', :value => 0, :name => 'offset'}
          %input{:type => 'hidden', :value => session[:relntypeid], :name => 'relntypeid'}
          .input-append
            - if session[:query]
              %input{:type => 'text', :name => 'search_query', :value=> session[:search_query]}
            -else
              %input{:type => 'text', :name => 'search_query'}
            %input{:type => 'submit', :value => "Search", :class => 'btn'}
        - if !@uuid.nil? and !@uuid.empty?
          - prev_uuid = @uuid[0][0]
          - uuid_array = []
          - array = []
          - for uuid in @uuid
            - if prev_uuid != uuid[0]
              - uuid_array << array
              - array = []
              - prev_uuid = uuid[0]
            - array << uuid
          - uuid_array << array
          %form
            .records
              - for uuid_group in uuid_array
                %ul.inner
                  %input{:type => 'radio', :name=> 'uuid',:value => uuid_group[0][0]}
                  - for uuids in uuid_group
                    %li
                      %span
                        =uuids[2].to_s + ": " + uuids[3].to_s
          .footer.search
            - if (session[:prev_offset] >= 0)
              %form{:action => search_arch_ent_member_path, :method => "get"}
                %input{:type => 'hidden', :value => session[:authenticity_token], :name => 'authenticity_token'}
                %input{:type => 'hidden', :value => session[:relntypeid], :name => 'relntypeid'}
                %input{:type => 'hidden', :value => session[:prev_offset], :name => 'offset'}
                %input{:type => 'hidden', :value => session[:search_query], :name => 'search_query'}
                %input{:type => 'submit', :value => "Previous", :class => 'btn'}
            %form{:action => search_arch_ent_member_path, :method => "get"}
              %input{:type => 'hidden', :value => session[:authenticity_token], :name => 'authenticity_token'}
              %input{:type => 'hidden', :value => session[:relntypeid], :name => 'relntypeid'}
              %input{:type => 'hidden', :value => session[:next_offset], :name => 'offset'}
              %input{:type => 'hidden', :value => session[:search_query], :name => 'search_query'}
              %input{:type => 'submit', :value => "Next", :class => 'btn'}
        -else
          - if @status.eql?('init')
            %p Please enter keywords to search for a particular entity or leave the search empty to show all entities
          -else
            %p No Archaeological Entities found
      %li.verb
        %h4 Archaeological Entity Verb
        %label Verb (if required)
        .input-append
          %select{:id => 'verb'}
            - for verb in @verb
              %option{:value => verb[0].to_s.strip}
                =verb[0].to_s.strip
          %input{:type => 'hidden', :id => 'relationshipid',:value => session[:relationshipid]}
          %input{:type => 'hidden', :id => 'relntypeid',:value => session[:relntypeid]}
          %input{:type => 'button', :value=> 'Add Member', :id => 'add-arch-ent', :src => add_arch_ent_member_path(@project), :class => 'btn'}
  .form-actions
    = link_to "<i class='icon-arrow-left'></i> Back".html_safe, show_rel_members_path(@project,session[:relationshipid])+'?offset=0&relntypeid='+session[:relntypeid], :class => 'btn'
