- title @project.name + " - Search"
= breadcrumbs
.content
  %h2 Search Relationship
  %p
  .search-arch-member
    %ul.tabs
      %li.search
        %form{:action => search_rel_association_path, :method => "get"}
          %input{:type => 'hidden', :value => session[:authenticity_token], :name => 'authenticity_token'}
          %input{:type => 'hidden', :value => 0, :name => 'offset'}
          .input-append
            - if session[:query]
              %input{:type => 'text', :name => 'search_query', :value=> session[:search_query]}
            -else
              %input{:type => 'text', :name => 'search_query'}
            %input{:type => 'submit', :value => "Search", :class => 'btn'}
        - if !@relationships.nil? and !@relationships.empty?
          - prev_id = @relationships[0][0]
          - id_array = []
          - array = []
          - for id in @relationships
            - if prev_id != id[0]
              - id_array << array
              - array = []
              - prev_id = id[0]
            - array << id
          - id_array << array
          %form
            .records
              - for id_group in id_array
                %ul.inner
                  %input{:type => 'radio', :name=> 'rel_id',:value => id_group[0][0]}
                  %input{:type => 'hidden', :id => 'relntypeid',:value => id_group[0][2], :src => get_verbs_for_rel_association_path(@project)}
                  - for ids in id_group
                    %li
                      %span
                        =ids[3].to_s + ": " + ids[4].to_s
          .footer.search
            - if (session[:prev_offset] >= 0)
              %form{:action => search_rel_association_path, :method => "get"}
                %input{:type => 'hidden', :value => session[:authenticity_token], :name => 'authenticity_token'}
                %input{:type => 'hidden', :value => session[:prev_offset], :name => 'offset'}
                %input{:type => 'hidden', :value => session[:search_query], :name => 'search_query'}
                %input{:type => 'submit', :value => "Previous", :class => 'btn'}
            %form{:action => search_rel_association_path, :method => "get"}
              %input{:type => 'hidden', :value => session[:authenticity_token], :name => 'authenticity_token'}
              %input{:type => 'hidden', :value => session[:next_offset], :name => 'offset'}
              %input{:type => 'hidden', :value => session[:search_query], :name => 'search_query'}
              %input{:type => 'submit', :value => "Next", :class => 'btn'}
        -else
          - if @status.eql?('init')
            %p Please enter keywords to search for a particular relationship or leave the search empty to show all relationships
          -else
            %p No Relationships found
      %li.verb
        %h4 Relationship Verb
        %label Verb (if required)
        .input-append
          %select{:id => 'verb'}
          %input{:type => 'hidden', :id => 'uuid',:value => session[:uuid]}
          %input{:type => 'button', :value=> 'Add Member', :id => 'add-rel', :src => add_rel_association_path(@project), :class => 'btn'}
  .form-actions
    = link_to "<i class='icon-arrow-left'></i> Back".html_safe, show_rel_association_path(@project,session[:uuid])+'?offset=0', :class => 'btn'
