%h1
  %span= @project.name + " - Search For Archaeological Entity Records"
.content
  %h2 Search Archaeological Entity
  %form{:action => show_arch_ent_records_path, :method => "get"}
    %p An empty search will list all entities
    .input-append
      %input{:type => 'hidden', :value => session[:authenticity_token], :name => 'authenticity_token'}
      %input{:type => 'hidden', :value => 0, :name => 'offset'}
      %input{:type => 'text', :name => 'query'}
      %input{:type => 'submit', :value => "Search", :class => 'btn'}
.form-actions
  = link_to "Back", project_path(@project), :class => 'btn'
