- title @project.name + " - Relationship Records"
- if (!@relationshipid.empty?)
  - group_ids(@relationshipid)
.content
  - if (!@relationshipid.empty?)
    %input{:type => 'hidden', :value => add_entity_to_compare_path(@project), :id => 'add-entity'}
    %input{:type => 'hidden', :value => remove_entity_to_compare_path(@project), :id => 'remove-entity'}
    %form{:method => 'post', :id => 'compare'}
      %input{:type => 'hidden', :value => session[:authenticity_token], :name => 'authenticity_token'}
      - if session[:values]
        - session[:values].length.times do |i|
          %input{:type => 'hidden', :value => session[:values][i-1], :name => 'ids[]', :id => session[:values][i-1]}
          %input{:type => 'hidden', :value => session[:identifiers][i-1], :name => 'identifiers[]', :id => session[:values][i-1]}
          %input{:type => 'hidden', :value => session[:timestamps][i-1], :name => 'timestamp[]', :id => session[:values][i-1]}
      %p
      = render :partial => 'edit_relationship_record', :locals => { relationshipid_array: @id_array, values: session[:values]}
    .form-actions
      = link_to "<i class='icon-arrow-left'></i> Back".html_safe, list_rel_records_path(@project), :class => 'btn'
      = link_to "Compare" ,compare_rel_path(@project), :id => 'compare-button', :class => 'btn btn-inverse'
  -else
    %p No Record Found
    = link_to "Back", search_rel_records_path(@project), :class => 'btn'
-if !@relationshipid.empty?
  .footer
    - if (session[:prev_offset] >= 0)
      %form{:action => show_rel_records_path, :method => "get"}
        %input{:type => 'hidden', :value => session[:authenticity_token], :name => 'authenticity_token'}
        %input{:type => 'hidden', :value => session[:prev_offset], :name => 'offset'}
        %input{:type => 'hidden', :value => session[:type], :name => 'type'}
        %input{:type => 'submit', :value => "Previous", :class => 'btn'}
    %form{:action => show_rel_records_path, :method => "get"}
      %input{:type => 'hidden', :value => session[:authenticity_token], :name => 'authenticity_token'}
      %input{:type => 'hidden', :value => session[:next_offset], :name => 'offset'}
      %input{:type => 'hidden', :value => session[:type], :name => 'type'}
      %input{:type => 'submit', :value => "Next", :class => 'btn'}
