- title @project.name + " - Archaeological Entity Relationship Associations"
= breadcrumbs
.content
  - if !@relationships.nil? and !@relationships.empty?
    .records
      - for relationships in @relationships
        %ul.inner
          %input{:type => 'button',:id => 'remove-member', :class => 'remove-member ui-icon ui-icon-circle-minus', :src=> remove_arch_ent_member_path(@project)+'?relationshipid='+relationships[0].to_s+'&uuid='+session[:uuid].to_s}
          %li
            %a{:href => edit_rel_records_path(@project,relationships[0])}
              =relationships[1].to_s
      .footer.search
        = render :partial => 'pagination'
    %input{:type => 'button',:id => 'search-member', :value=> 'Add Member', :class => 'add-member btn', :src=> search_rel_association_path(@project,session[:uuid])}
    .form-actions
      = link_to "<i class='icon-arrow-left'></i> Back".html_safe, edit_arch_ent_records_path(@project,session[:uuid]), :class => 'btn'
  -else
    %p No Members Found
    %input{:type => 'button',:id => 'search-member', :value=> 'Add Member', :class => 'add-member btn', :src=> search_rel_association_path(@project,session[:uuid])}
    .form-actions
      = link_to "<i class='icon-arrow-left'></i> Back".html_safe, edit_arch_ent_records_path(@project,session[:uuid]), :class => 'btn'
