- if group[key]
  - if (checked)
    %input{:type => 'radio', :checked => 'checked'}
    .attrib.selected.left
      = render :partial => 'compare_arch_ent_row_content', :locals => { group: group, key: key, value: value }
      %span.attribute-info
        = attributeInfo[key]
  - else
    %input{:type => 'radio'}
    .attrib.right
      = render :partial => 'compare_arch_ent_row_content', :locals => { group: group, key: key, value: value }
      %span.attribute-info
        = attributeInfo[key]
