%h2 Please enter your email and password to log in
= f.input :email, :label => 'Email:', :required => false
= f.input :password, :label => 'Password:', :required => false
.form-actions
  = f.submit "Log in", :class => "btn btn-primary"
  = link_to "Forgot your password?", new_user_password_path, :class => "btn"
