/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery.ui.all
 *= require_tree .
 *= require fancybox
 *= require dataTables/bootstrap/2/jquery.dataTables.bootstrap
*/

@import "bootstrap";
@import "bootstrap-responsive";

.step-body {
  width: 290px;
  padding: 20px;
  margin: 20px;
  margin-bottom: 40px;
  border: 1px solid #eee;
  border-width: 2px;
  @include border-radius(5px);
}

.number-circle {
  float: left;
  position: relative;
  top: -25px;

  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  behavior: url(PIE.htc);

  width: 36px;
  height: 36px;
  padding: 8px;

  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;

  font: 32px Arial, sans-serif;
}

.step-container {
  top: 100px;

  display: block !important;
}

.help-inline {
  color: #FF4D4D;
  //border: 1px dashed #FF4D4D;
  //@include border-radius(5px);
  padding: 5px 10px 5px 10px;
}

@media (max-width: 1200px) {

}

@media (min-width: 979px) {
  body {
    padding-top: 60px;
  }

}

.indicator {
  text-align: center;
}

.ui-dialog-titlebar-close {
  visibility: hidden;
}

.logo {
  height: 40px;
  width: 40px;
  padding-right: 10px;
}


.footer {
  bottom: 0; left: 0; right: 0;
  text-align: center;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5;
  margin: 0 auto;
  position: fixed;
  font-weight: normal;
  font-size: 0.813em;
  color: #666666;
  text-decoration: none;
}

.footer p { margin: 0; }

.footer .logo {
  margin: 3px 6px 0 0;
  padding: 0;
  width: 14px;
  height: 14px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  vertical-align: top;
  background: url(/images/intersect_logo.png) center;
}