/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

@import "bootstrap";
@import "bootstrap-responsive";

.step-body {
  width: 300px;
  padding: 20px;
  margin: 20px;
  margin-bottom: 40px;
  border: 1px solid #eee;
  border-width: 2px;
  @include border-radius(5px);
}

.number-circle {
  float:left;
  position: relative;
  top: -25px;

  -webkit-border-radius: 999px;
  -moz-border-radius: 999px;
  border-radius: 999px;
  behavior: url(PIE.htc);

  width: 36px;
  height: 36px;
  padding: 8px;

  background: #fff;
  border: 2px solid #666;
  color: #666;
  text-align: center;

  font: 32px Arial, sans-serif;
}

.step-container {
  top: 100px;

  display: block !important;
}

.help-inline {
  color:#FF4D4D;
  //border: 1px dashed #FF4D4D;
  //@include border-radius(5px);
  padding: 5px 10px 5px 10px;
}

@media (max-width: 1200px) {

}

@media (min-width: 979px) {
  body {
    padding-top: 60px;
  }

}