body { font-family: "Source Sans Pro","source-sans-pro","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif; }

a { color: #00B4FF; }

h3, h4 { margin: 0 0 10px 0; }

.navbar-inverse .brand {
  color: #EEE;
  font-weight: 800;
  font-style: italic;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}


.navbar-inverse .nav>li>a {
  color: #00B4FF;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
  font-weight: 400;
}

h1 {
  margin: 30px 0 30px 0;
  padding: 10px 0 5px 0;
  border-bottom: 1px solid #CCC;
  line-height: 0;
}

h1 span {
  padding: 0 20px 0 0;
  background: white;
  line-height: 20px;
}

.dir h3 {
  margin: 20px 0;
  padding: 0;
  border-bottom: 1px solid #CCC;
  line-height: 0;
}

.dir h3 span {
padding: 0 20px 0 0;
background: white;
line-height: 0px;
}

.dir span.pull-right {
margin: -15px 0 0 0;
padding: 0 0 0 20px;
}


.step-body {
margin: 0;
width: auto;
}

.form-actions { clear: both; }
.row-fluid { margin-bottom: 20px; }

.dir {
padding-left: 20px; 
margin-bottom: 20px;
border-left: 1px solid #CCC;
}


.dir-header { margin: 0 0 20px 0; }

.file-manager .dir .dir-body {
	padding: 0;
	margin: 0;
}

.file-manager .dir .dir-body form {
margin: 0px;
padding: 0px;
padding-bottom: 0px;
}

.file-manager .inline {
display: inline-block;
vertical-align: top;
}

.btn-inverse { color: #00B4FF; }

.step-body { border: 0px solid #EEE; }

ul.tabs { list-style: none; margin: 0 0 10px 0px; }


.upload-container, .create-container { margin: 0 10px 0 0; } 

input#file_manager_file { padding: 0 0 0 10px; height: 28px; border: 1px solid #CCC; }

td.first { vertical-align: middle; } 

.first ul, .second ul { margin: 0; padding: 0; list-style: none; }

ul.inline li { float: left; margin-left: 0px; }
ul.inline > li, ol.inline > li { display: inline-block; padding-left: 5px; padding-right: 5px; }


ul.inner { list-style: none; }
ul.inner li { display: inline-block; }
ul.inner input { display: inline-block; }

td.selected { border: 1px solid #f156af; }

.attrib { display: inline-block; vertical-align: middle; }

#select-form h4 { margin: 0; }

.arch_ent_record_content label { padding-right: 20px; text-align: right; font-weight: bold; }
.attr_vocab_id select, input#attr_measure, input#attr_certainty, input#attr_freetext { width: 100%; }
.labels label { font-weight: bold; }
label h4 { margin: 5px 0 0 0; }
.update-rel-form, .update-arch-ent-form { margin: 0 0 10px 0; padding: 0 10px 0 0; border-bottom: 1px solid #DDD; }
.update-rel-form .row-fluid, .update-arch-ent-form .row-fluid { margin: 0px; }
.update-rel-form form, .update-arch-ent-form form { margin: 0px; }

td.first input[type="radio"], td.second input[type="radio"] { display: inline-block; vertical-align: middle; float: none; }
td.first label, td.second label { margin-bottom: 0; }
td.first h5, td.second h5 { margin: 0px; }
td.first td, td.second td { padding: 10px 0 0 10px; border-top: 0px solid #EEE; }
td.first .attribute-info, td.second .attribute-info { margin: 0 0 10px 0; padding: 0px 0 0px 10px; border-top: 0px solid #EEE; display: block; }

.vocab-button {margin-bottom: 10px; float: left}

.exporter_interface_label { font-weight: bold; }

.ignore-errors-chk { display: inline;}

.carousel {
  width: 50%;
}

.carousel-image {
  max-height:400px;
}

.carousel-inner .item {
  min-height:150px;
  background-color:grey;
}

.padding-extra {
  padding:5px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.footer_space {
  margin-top:50px;
}

.autosave-indicator {
  background-color:#00B4FF;
  color:white;
}

.entity-breadcrumb {
  float: right;
  position: relative;
  right: 15px;
  top: 8px;
}