.file-manager {

  .dir {

    .dir-header {

    }

    .dir-body {

      form {
        margin:0px;
        padding:0px;
        padding-bottom:5px;
      }

      padding-bottom:5px;

    }

  }

  .inline {
    display: inline-block;
  }

}