// ref: http://www.smileycat.com/miaow/archives/000230.php

.project-list {
}

.project li {
  border: 1px dashed #999;
  border-width: 0 0 1px 0;
  margin: 5px 0;
  color: #CCC;
  list-style-type: none;
}

.project li:hover {
  background-color: #EEE;
}

.project:hover {
  text-decoration: none;
}

.project-number {
  min-width: 60px;
  height: 50px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #DDD;
  text-align: center;
  color: #3C3C3C;
  margin-left: 10px;
  margin-right: 10px;
}

.project-body {
  padding-top: 5px;
  padding-bottom: 5px;
}

.project-name {
  color:#3C3C3C;
}

.uploaded-inline {
  color:#0C0;
}