// ref: http://www.smileycat.com/miaow/archives/000230.php

.project-list {
}

.project li {
  border: 1px dashed #999;
  border-width: 0 0 1px 0;
  margin: 5px 0;
  color: #CCC;
  list-style-type: none;
}

.project li:hover {
  background-color: #EEE;
}

.project:hover {
  text-decoration: none;
}

.project-number {
  min-width: 60px;
  height: 50px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #DDD;
  text-align: center;
  color: #3C3C3C;
  margin-left: 10px;
  margin-right: 10px;
}

.project-body {
  padding-top: 5px;
  padding-bottom: 5px;
}

.project-name {
  color: #3C3C3C;
}

.uploaded-inline {
  color: #0C0;
}

.project-textarea {
  width: 300px;
  height: 100px;
}

.new_project ul li {
  display: inline-block;
  vertical-align: top;
}

.tabs {
  list-style: none;
  width: 100%;
}

.tabs li.settings .step-container .step-body {
  width: 315px;
}

.tabs li.upload .step-container > .step-body {
  width: 375px;
}

ul.inline,
ul.inner {
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
}
ul.inner input,
ul.inner li {
  float:left;
}

ul.inline{
  vertical-align: text-top;
}

ul.inline li {
  float:left;
  margin-left: 20px;
}

ul.inner li a,
ul.inner li span {
  display:block;
  width:200px;
  background-color:#eeeeee;
  margin:3px;
  border:1px solid black;
}

.footer.search {
  float: right;
  padding-right: 0px;
}

.footer {
  float: right;
  padding-right: 535px;
}

.footer form {
  display: inline-block;
}

.records {
  width: 100%;
  overflow: auto;
}

.records > .inner {
  width: 120em;
}

.remove-member {
  margin-top: 6px;
  border: none;
  width: 16px !important;
}

.add-member {
  float: left;
}

.search-arch-member ul li {
  display: inline-block;
  vertical-align: top;
}

.tabs {
  list-style: none;
  width: 100%;
}

.tabs li.settings .step-container .step-body {
  width: 315px;
}

.tabs li.upload .step-container > .step-body {
  width: 375px;
}

.tabs li.search {
  width: 70%;
}

.tabs li.verb {
  width: 25%;
  margin-left: 10px;
}

.step-body.error{
  border-color: #FF0000;
}

.selected {
  background: #D3D3D3;
}

.record-info,
.record-info h3,
.record-info span{
  display: inline;
}

.record-info span {
  font-size: 75%
}

.attribute-info {
  font-size: 75%;
}