// ref: http://www.smileycat.com/miaow/archives/000230.php

.form-attribute-error {
  color: #FF0000;
}

.box-error {
  background-color: #FFBDBD;
}

.box-warning {
  background-color: #ffef3a;
}

.page-title {
  line-height: 120% !important;
}

label.required:after {
  color: #e32;
  content: '*';
  display:inline;
}

.vocab-row {
}

.vocab-container {
}

.vocab-label {
}
